<!DOCTYPE html>
<style>
a {
    color:hotpink;
    text-decoration: none;
}
</style>


<h1>Tervetuloa Tsoha-kurssin keskustelupalstalle!</h1>
<p>
<hr>
<h2>Aiheet:</h2><br>

{%for topic in topics%}
<a href="/topic/{{topic.id}}">{{topic.topic}}</a> -
    {% if topic[5]==True %} 
        {% if topic[2]!=None %}
            ketjuja: {{topic[2]}}, 
            viestejä: {{topic[3]}},
            viimeisin viesti: {{topic[4].strftime("%Y-%m-%d %H:%M:%S")}}
            {% if session.admin==True %}
            <a href="/hide_topic/{{topic.id}}">Piilota kaikilta</a>
            {% endif %} <br>
        {% else %}
            ketjuja: 0
            {% if session.admin==True %}
            <a href="/hide_topic/{{topic.id}}">Piilota kaikilta</a>
            {% endif %}<br>
        {% endif %}

    {%else%}
    
    SALAINEN -
        {% if topic[2]!=None %}
            ketjuja: {{topic[2]}}, 
            viestejä: {{topic[3]}},
            viimeisin viesti: {{topic[4].strftime("%Y-%m-%d %H:%M:%S")}}  
            {% if session.admin==True %}
            {% if topic[5]==False %} 
            <a href="/access/{{topic.id}}">Anna oikeus </a> | <a href="/hide_secret_topic/{{topic.id}}">Piilota kaikilta</a>
            {% endif %}     
            {% endif %}<br>
        {% else %}
            ketjuja: 0  
            {% if session.admin==True %}
            {% if topic[5]==False %} 
            <a href="/access/{{topic.id}}">Anna oikeus </a> | <a href="/hide_secret_topic/{{topic.id}}">Piilota kaikilta</a>
            {% endif %}     
            {% endif %}<br>
                
            {% endif %}     
    {%endif%}     

{% endfor %}<br>
<hr>
<p>
<p>

<p>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/search">Hae viestejä</a> | <a href="/logout">Kirjaudu ulos</a> <br>
{% else %}
<p>
Kirjaudu sisään:
<p>
<a href="/login">Kirjaudu</a><br>

{% endif %}

<p>
{% if session.admin==True %}
Olet palstan ylläpitäjä. <a href="create_new_topic" >Tässä</a> voit luoda uuden aiheen. 
{% endif %}
</p>
<p>
