<!DOCTYPE html>
<style>
a {
    color:hotpink;
    text-decoration: none;
}
</style>


<h1>Tervetuloa Tsoha-kurssin keskustelupalstalle!</h1>
<p>
<hr>
<h2>Aiheet:</h2><br>

{%for topic in topics%}
<a href="/topic/{{topic.id}}">{{topic.topic}}</a> -
{% if topic[2]!=None %} 
ketjuja: {{topic[2]}}, 
viestejä: {{topic[3]}},
viimeisin viesti: {{topic[4].strftime("%Y-%m-%d %H:%M:%S")}}<br>
{% else %}
ketjuja: 0
{% endif %}
{%endfor%}<br>
<hr>
<p>
<p>
Kirjaudu sisään:
<p>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a> <br>
{% else %}
<a href="/login">Kirjaudu</a><br>
{% endif %}
<p>
