<!DOCTYPE html>
<style>
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: gainsboro;
}
</style>
<body>
{% if error %}
<p>Virhe: {{ error }} </p><br>
{% endif %}       
<form action="/new_message" method="POST">
Viesti:<br> <textarea name="message" rows="5" cols="40"></textarea><br>
<input type="hidden" name="topic_id" value="{{topic_id}}">
<input type="hidden" name="thread_id" value="{{thread_id}}">
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</body>

