<!DOCTYPE html>
<style>
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: gainsboro;
}
</style>
<body>
<form action="/new_topic" method="POST">
Aihe:<br> <input type="text" name="topic_name"> <br>
<p>Onko aihe salainen?:</p>
<input type="checkbox" name="visible" value=False unchecked > Kyllä
<input type="checkbox" name="visible" value=True unchecked > Ei <br>
<input type="submit" value="Luo aihe">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</body>