<!DOCTYPE html>
<style>
a {
    color:hotpink;
    text-decoration: none;
}
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: gainsboro;
}

.header {
    background: darkgrey;
    font-weight: bold;
    padding: 2em 1em;
    border-radius: .5em;
    margin-top: .5em;
}  
</style>

<body>
<div class="header">
<h1>Tervetuloa Tsoha-kurssin keskustelupalstalle!</h1>
</div>
<p>
<hr>
<h3>{{message_path[0]}} &middot; {{message_path[1]}}</h3>
<hr>
{%for message in messages%}
<p> <i>{{message.username}}, {{message.sent_at.strftime("%Y-%m-%d %H:%M:%S")}}</i> </p>
   <p> {{message.content}} </p> 
   {% if message[4] %}
   <a href="/edit_message/{{topic_id}}/{{thread_id}}/{{message.id}}">Muokkaa viestiä </a> | <a href="/delete_message/{{topic_id}}/{{thread_id}}/{{message.id}}">Poista viesti</a>
   {%endif%}<br>   
{%endfor%}<br>

{% if session.user_id %}
<a href="/message/{{topic_id}}/{{thread_id}}">Vastaa viestiin</a>
{% endif %}
<hr>
<p>
<p>

<a href="/topic/{{topic_id}}">Takaisin ketjuun</a><br>
<p>
<a href="/">Takaisin etusivulle</a> <br>

<p>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}.</p>
<a href="/logout">Kirjaudu ulos</a> <br>
{% else %}
<p>
Kirjaudu sisään:
<p>
<a href="/login">Kirjaudu</a><br>
{% endif %}
<p>
</body>    
