<!DOCTYPE html>
<style>
a {
    color:hotpink;
    text-decoration: none;
}
</style>


<h1>Tervetuloa Tsoha-kurssin keskustelupalstalle!</h1>
<p>
<hr>
<h2>{{message_path[0]}}-{{message_path[1]}}</h2><br>

{%for message in messages%}
<p>{{message.user_id}}, {{message.sent_at}} </p> <br>
   <p> {{message.content}} </p> 
{%endfor%}<br>
<hr>
<p>
<p>

<a href="/topic/{{topic_id}}">Takaisin ketjuun</a><br>
<p>
<a href="/">Takaisin etusivulle</a> <br>

Kirjaudu sisään:
<p>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a> <br>
{% else %}
<a href="/login">Kirjaudu</a><br>
{% endif %}
<p>
