<!DOCTYPE html>
<style>
a {
    color:hotpink;
    text-decoration: none;
}
</style>


<h1>Tervetuloa Tsoha-kurssin keskustelupalstalle!</h1>
<p>
<hr>
<h2>{{topic}}</h2><br>

{%for message in allmessages%}
<a {{message.content}}, {{message.user_id}, {{message.sent_at}} </a> <br>
{%endfor%}<br>
<hr>
<p>
<p>

<a href="/">Takaisin</a> <br>

Kirjaudu sisään:
<p>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a> <br>
{% else %}
<a href="/login">Kirjaudu</a><br>
{% endif %}
<p>
