<!DOCTYPE html>
<style>
a {
    color:hotpink;
    text-decoration: none;
}
</style>


<h1>Tervetuloa Tsoha-kurssin keskustelupalstalle!</h1>
<p>
<hr>
<h2>{{topic_name}}</h2><br>

{%for thread in threads%}
<a href="/topic/{{topic_id}}/thread/{{thread.id}}">{{thread.thread}} </a> <br>
{%endfor%}<br>
<hr>
<p>
<p>

<a href="/">Takaisin</a> <br>

Kirjaudu sisään:
<p>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a> <br>
{% else %}
<a href="/login">Kirjaudu</a><br>
{% endif %}
<p>
